html, body {
  height: 100%;
}

body {
  padding-top: 75px;
}

.footer {
  text-align: center;
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

.container {
  height: 100%;
}

.resume {
  height: 100%;
  margin: auto;
  text-align: center;
}

.alert > a {
  color: grey;
}
