body {
  font-family: 'IBM Plex Sans', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: #0B3954;
  background-color: #DEEEF5;
}

body strong {
  color: #0B3954;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #7C8A93;
}

a:hover {
  text-decoration: none;
  color: #4c565d;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(11, 57, 84, 0.3);
  background-color: #DEEEF5;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #0B3954;
  border: 1px solid #0B3954;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: #0B3954;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#0B3954, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(11, 57, 84, 0.3);
    background: #DEEEF5;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(11, 57, 84, 0.3);
  }
  #mainNav .nav-link.active:hover {
    color: #0B3954;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/ny2.jpg") no-repeat bottom center scroll;
  background-color: #DEEEF5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  width: max-content;
  background-color: rgba(11, 57, 84, 0.35);
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  background-color: rgba(11, 57, 84, 0.4);
  width: max-content;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 22px;
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.content-section img {
  max-width: 100%;
}

.content-section .right {
  float: right;
}

.content-section .clickable-img {
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.content-section .clickable-img:hover {
  opacity: 0.7;
}

#about {
  padding-top: 200px;
  padding-bottom: 200px;
}

#about .img-me {
  position: relative;
  top: -100px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 30px;
}

#projects {
  padding-top: 50px;
  padding-bottom: 150px;
}

#projects h4 {
  margin-bottom: 5px;
}

#projects p {
  margin: 5px 0;
}

#projects .project {
  margin-bottom: 50px;
}

#resume {
  padding-top: 50px;
  padding-bottom: 200px;
}

#resume h1 {
  margin-bottom: 5px;
}

#resume .header {
  margin-bottom: 25px;
}

#resume h5 {
  margin: 25px 0 15px 0;
}

#resume .resume-date {
  float: right;
}

#contact {
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #7C8A93;
  border: 1px solid #7C8A93;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: #DEEEF5;
  border: 1px solid #7C8A93;
  outline: none;
  background-color: #7C8A93;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  color: #7C8A93;
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(11, 57, 84, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(11, 57, 84, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
