$background: #DEEEF5;
$text: #0B3954;
$link: #7C8A93;

body {
    font-family: 'IBM Plex Sans', sans-serif;

    position: relative;

    width: 100%;
    height: 100%;

    color: $text;
    background-color: $background;

    strong {
        color: $text
    }
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;

    margin: 0 0 35px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;

    margin: 0 0 25px;
    @media(min-width: 768px) {
        font-size: 18px;
        line-height: 1.6;

        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: $link;
    &:hover {
        text-decoration: none;

        color: darken($link, 20%);
    }
}

#mainNav {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;

    text-transform: uppercase;

    border-bottom: 1px solid fade-out($text, .7);
    background-color: $background;
    .navbar-toggler {
        font-size: 14px;

        padding: 11px;

        color: $text;
        border: 1px solid $text;
    }
    .navbar-brand {
        font-weight: 700;
    }
    a {
        color: $text;
    }
    .navbar-nav {
        .nav-item {
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
            &:hover {
                color: fade($text, 80%);
                outline: none;
                background-color: transparent;
            }
            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }
    @media(min-width:992px) {
        padding-top: 20px;
        padding-bottom: 20px;

        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;

        border-bottom: none;
        background: transparent;
        &.navbar-shrink {
            padding-top: 10px;
            padding-bottom: 10px;

            border-bottom: 1px solid fade-out($text, .7);
            background: $background;
        }
        .nav-link.active {
            outline: none;
            background-color: rgba($text, .3);
            &:hover {
                color: $text;
            }
        }
    }
}

.masthead {
    display: table;

    width: 100%;
    height: auto;
    padding: 200px 0;

    text-align: center;

    color: white;
    background: url('../img/ny2.jpg') no-repeat bottom center scroll;
    background-color: $background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-body {
        display: table-cell;

        vertical-align: middle;
        .brand-heading {
            width: max-content;
            background-color: rgba(11,57,84,0.35);
            font-size: 50px;
        }
        .intro-text {
            background-color: rgba(11,57,84,0.4);
            width: max-content;
            font-size: 18px;
            font-weight: bold;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 22px;
            }
        }
    }
}

.btn-circle {
    font-size: 26px;

    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;

    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;

    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
    &:focus,
    &:hover {
        color: white;
        outline: none;
        background: fade-out(white, .9);
    }
}

.content-section {
    img {
        max-width: 100%;
    }
    .right {
        float: right;
    }

    .clickable-img {
        cursor: pointer;
        transition: 0.3s;
        border-radius: 3px;
    }

    .clickable-img:hover {
        opacity: 0.7;
    }
}

#about {
    padding-top: 150px;
    .img-me {
        position: relative;
        top: -100px;
        max-width: 250px;
        max-height: 250px;
        border-radius: 30px;
    }
    .devicon-container {
        padding-top: 40px;
    }
    .devicon {
        font-size: 2em;
    }

}

#projects {
    padding-top: 50px;
    padding-bottom: 25px;
    h4 {
        margin: 5px 0;
    }

    p {
        margin: 5px 0;
    }

    .project {
        margin-bottom: 50px;
    }

}

#resume {
    padding-top: 50px;
    h1 {
        margin-bottom: 5px;
    }

    .header {
        margin-bottom: 25px;
    }

    h5 {
        margin: 25px 0 15px 0;
    }

    .resume-date {
        float:right;
    }
}

#contact {
    padding-top: 75px;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    #about {
        padding-top: 150px;
        padding-bottom: 200px;
    }
    #projects {
        padding-top: 50px;
        padding-bottom: 100px;
    }
    #resume {
        padding-top: 50px;
        padding-bottom: 200px;
    }
    #contact {
        padding-top: 300px;
        padding-bottom: 200px;
    }
}

@media (min-width: 1025px) {
    #contact {
        padding-bottom: 300px;
    }
}

.contact-section {
    color: white;
    background: url('../img/nyc.png') no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;

    border-radius: 0;
}

.btn-default {
    color: white;
    border: 3px solid white;
    background-color: transparent;
    &:focus,
    &:hover {
        color: $link;
        border: 3px solid white;
        outline: none;
        background-color: white;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width: 1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;

            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    color: $link;
    padding: 25px 0;
    p {
        font-size: 14px;

        margin: 0;
    }
}

::-moz-selection {
    background: #fcfcfc;
    background: fade-out($text, .8);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: fade-out($text, .8);
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
